.work-content-wrapper{
    width:100%;
    display: flex;
    justify-content: center;

    .work-content{
        max-width: 700px;
        font-family: $font-inter;
        position: relative;

        a{
            color:red;
        }

        h1{
            font-size: 40px;
            font-weight: 600;
            padding-bottom: 30px;
        }

        h2{
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 15px;
        }

        h3{
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .studio-customers-wrapper{
            padding: 2rem 0rem;
            .studio-customers-logos{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100px;
                    margin: 0px 1rem;
                }
            }
        }
    }
}
.element-paragraph{
    padding-bottom: 20px;
    line-height: 18px;
    font-size: 15px;
    font-family: $font-inter;
}

.element-snippet{
    max-width: 100%;
    width:100%;
    overflow:scroll;
    font-size: 15px;
    position: relative;
}

.buy-now-button{
    background-color: $purple;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: $font-inter;
    font-weight: 600;
    text-transform: uppercase;
    border: 0.6px solid $purple-border;
    
    &:hover{
        background-color: $red-hover;
        cursor: pointer;
    }
}

.purchase-button{
    background-color: $purple;
    border: 1px solid $purple-border;
    width: 100%;
    border-radius: 4px;
    color: $text-color;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0px;
    font-weight: 600;

    &:hover{
        background-color: $red-hover;
    }
}


/* Add to your CSS file */

.documentation-wrapper {
    flex: 1;
    max-width: 800px; /* Adjust as needed */

    .documentation-nav{
        display: flex;
        position: sticky;
        top: 2rem; /* Adjust based on your header height */
        width: 100%;
        padding: 2rem 0rem;
        padding-top: 24px;

        .feature-buttons-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 100%;
            grid-gap: 0.75rem;
        }

        .feature-button{
            width: 100%;
            z-index: 10000;
            cursor: pointer;
            button{
                width: 100%;
                cursor: pointer;
                padding: 10px 30px;
                font-size: 1.2rem;
                border: 2px solid $text-color;
                border-radius: 4px;
                background-color: $background-color;
                color:$text-color;

                &:hover{
                    background-color: $text-color;
                    color: $background-color;
                    box-shadow: 6px 6px 0px 0px $red-hover;
                }



                // background: linear-gradient(
                //     135deg,  
                //     #FF6B6B 0%,     
                //     #4ECDC4 33%,    
                //     #45B7D1 66%,    
                //     #96C93D 100%    /* Green */
                // );
            }
        }

        
    }
}

/* Add some spacing to sections */
.documentation section {
    margin-bottom: 3rem;
    scroll-margin-top: 2rem; /* Prevents header overlap when scrolling to sections */
}