.footer-wrapper{
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-plex;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    padding-bottom:50px;
    padding-top:50px;
    margin-top:20px;
    border-top: 1px solid rgb(41, 41, 41);
    margin-top:50px;


    p{
        padding-top:5px;
    }

    .left, .mid, .right{
        display: flex;
        flex-direction: column;
        a{
            padding-bottom: 4px;
            text-decoration: none;
            color:$text-color;
        }
    }
}