.header-wrapper{
    width: 100%;
    position: absolute;
    top:0;
    font-family: $font-plex;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 80px;
    z-index: 10;
    font-size: 17px;

    .logo{
        display: block;
        padding:2px;
        font-weight: 500;
    }

    .menu-wrapper{
        display: flex;

        .menu{
            margin-left: 50px;
            padding:5px 10px;
        }

        .profile{
            background-color: #fff;
            color:$background-color;
            border-radius: 10px;
        }
    }

    
    
}