.header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    font-family: $font-plex;

    .logo{
        font-size:26px;
        letter-spacing: -3px;
        b{
            font-weight: 600;
        }
    }

    .menu-wrapper{
        display: flex;
        align-items: center;
        font-family: $font-inter;

        .menu{
            font-size: 14px;
            // letter-spacing: 1px;
            // background-color: #333333;
            // background-color: white;
            // color:black;
            font-weight: 500;
            font-family: $font-plex;
            padding:4px 15px;

            margin: 1px;
        }

        .profile{
            background-color: white;
            color:$background-color;
            border-radius: 2px;
        }
    }
}