.header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    margin: 0; /* Remove margins to prevent overflow */
    font-family: $font-plex;

    a{
        text-decoration: none;
        color:inherit;
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 15px 20px; /* Moved margin to padding to keep inner spacing */
        color:$text-color;


        .logo{
            font-size: 26px;
            letter-spacing: -3px;

            b{
                font-weight: 600;
            }
        }

        .menu-wrapper{
            display: flex;
            align-items: center;
            font-family: $font-plex;
            letter-spacing: 1px;

        }

            .menu{
                font-size: 14px;
                font-weight: 600;
                margin: 4px 0px;
                margin-left: 26px;
                // margin: 1px;
                &:hover{

                    @include chroma-link;
                    text-decoration: none;
                    text-shadow:-0.5px 0px 0px #1AD7E0, -1px 0px 0px #0D10DC,0.5px 0px 0px #d68010 ,1px 0px 0px #CB0C0C;
                }
            }

            // hide menu on mobile
            @media (max-width: 768px) {
                .menu{
                    display: none;
                }

                .menu-icon{
                    display: block;
                    font-size:30px;
                    cursor: pointer;
                }
                
            }

            .profile{
                background-color: white;
                color: $background-color;
                border-radius: 2px;
                padding: 4px 15px;
            }
        }
}


.fullscreen-menu{
    font-family: $font-plex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background-color: $background-color;
    color:$text-color;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    z-index:9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.open{
        opacity: 1;
        visibility: visible;
    }

    .menu-item{
        text-transform: uppercase;
        cursor: pointer;


        font-size: 24px;
        font-weight: 600;
        margin: 4px 0px;
        margin-left: 26px;
                // margin: 1px;
        &:hover{

            @include chroma-link;
            text-decoration: none;
            // display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            text-shadow:-0.5px 0px 0px #1AD7E0, -1px 0px 0px #0D10DC,0.5px 0px 0px #d68010 ,1px 0px 0px #CB0C0C;
        }

    }

    .profile{
        background-color: white;
        color: $background-color;
        border-radius: 2px;
        padding: 4px 15px;        

        &:hover{
            background-color: $background-color;
        }
    }

    .close-btn{
        position: absolute;
        top:20px;
        right:20px;
        font-size:30px;
        cursor: pointer;
    }
}