.work-header-wrapper{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    // padding:40px 200px;

    .work-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
        @media (max-width:$max-width-mobile) {
           flex-direction: column; 
           padding-bottom: 30px;
        }
        .work-title{
            font-size: 65px;
            font-weight: 600;
            max-width:300px;
            text-shadow:-0.5px 0px 0px #1AD7E0, -1.7px 0px 0px #0D10DC,0.5px 0px 0px #d68010 ,1.7px 0px 0px #CB0C0C;
            padding-right: 100px;
            @media (max-width:$max-width-mobile) {
                padding-right: 0px;
                width: 100%;
                font-size: 50px;
                padding-bottom: 30px;
                // text-align: center;
            }
        }

        .desc{
            font-size: 12px;
            color:$gray-500;
            width: 300px;
            line-height: 16px;
            padding-left: 100px;
            @media (max-width:$max-width-mobile) {
                padding-left: 0px;
                padding-bottom: 30px;
            }
        }

        .year{
            p{
                padding-bottom: 4px;
            }
            color:$gray-500;
            @media (max-width:$max-width-mobile) {
                padding-left: 0px;
                padding-bottom: 30px;
            }

        }
    }

}

.poster{
    width:100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2;
    padding-bottom: 30px;

    @media (max-width: $max-width-mobile){
        aspect-ratio: 1;
    }

}

.work-main-content-wrapper{
    display: flex;
    width:100%;
    justify-content: center;

    .work-main-content{
        max-width: 900px;
        width:100%;

      p{
            font-family: $font-serif;
            font-family: $font-inter;
            font-weight: 350;
            line-height: 22px;
            padding: 10px 0px;
        }

        h1{
            font-size: 40px;
            font-family: $font-inter;

        } 

        h2{
            font-family: $font-inter;
            font-size: 25px;
            font-weight: 600;
            padding: 20px 0px;
            padding-top:30px;
        }

        h3{

            font-family: $font-inter;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 0px;
        }

    }
}


.viemo-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    
    @media (max-width:$max-width-mobile) {
        padding-bottom: 20px;  // Reduced padding on mobile
    }

    .viemo-iframe {
        width: 100%;
        height: 56.25vw;  // Maintains 16:9 aspect ratio
        max-height: 600px;
        border: none;
    }
}