.content{
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        .video{
            position: absolute;
            top:50%;
            left:50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .content-left, .content-right{
            position: absolute;
            bottom:60px;
            z-index: 2;
        }

        .content-left{
            left:80px;
        }

        .content-right{
            right: 80px;
        }

        h1{
            font-size:90px;
            font-weight: 500;
            width:45%;
            text-shadow: -2.8px 0px 0px #ED2829 ,2.8px 0px 0px #1E1EFF;
            font-family: $font-plex;
        }
        
        p{
            font-family: $font-plex;
            text-transform: uppercase;
            font-size: 15px;
        }

 }
// .video-banner-wrapper{
//         position: absolute;
//         top:0;
//         width: 100%;
//         height: 100%;
//         z-index: 1;
//     .video-banner{
//         width:100%;
//         height: 100%;
//         object-fit: cover;

//     }
//     .video-content{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         z-index: 2;
//         color: white;
//         align-items: center;
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         transform: translate(-50%, 0);
//         width:100%;
//         h1{
//             font-size: 80px;
//             letter-spacing: 12px;
//             font-family: $font-plex;
//             font-weight: 600;
//             text-shadow: -2.8px 0px 0px #ED2829 ,2.8px 0px 0px #1E1EFF;
//         }

//         p{
//             padding-top:10px;
//             width:490px;
//             font-family: $font-plex;
//             text-transform: uppercase;
//             font-size:14px;
//             font-weight: 600;
//             line-height: 15px;
//         }

//         .scroll-down-btn{
//             position: absolute;
//             z-index: 18;
//         }
//     }
    
// }

// .bottom-wrapper{
//     position: absolute;
//     z-index: 12;
// }