.banner-wrapper{
    position: fixed;
    width:100%;
    padding:20px;
    padding-top:55px;
    z-index: 1;
    pointer-events: auto;

    .video{
        width:100%;
        height: 90vh;
        object-fit: cover;
        // opacity: 0; // Initially hidden
    // transition: opacity 1s ease-out;
    }

    .text-overlay{
        position: absolute;
        padding:20px;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; // Adjust width based on your preference
        color: white; // Text color
        font-size: 2rem; // Adjust font size
        font-weight: bold;
        mix-blend-mode:exclusion;
        letter-spacing: -1.8px;
        // text-transform: uppercase;
        // font-family: $font-plex;

            .heading{
                font-size: 61px;
            }

            .side{
                display: flex;
                font-size: 18px;

                p{
                    padding-left:28px;
                    padding-right:2px;
                }
            }
    }

    .scroll{
        width:100%;
        padding-top: 6px;
        justify-content: space-between;
        display: flex;
        align-items: center;

        .time-zone{
            // font-family: $font-plex;
            font-size: 14px;
        }
    }

}

.content-wrapper{
    // margin: 20px;
    position: relative;
    z-index: 2;
    padding: 20px 20px 20px 20px;
    color:$text-color;
    font-family: $font-plex;
    pointer-events: none;

}

.home-content{
    margin-top: 100vh;
    background-color: $background-color;
    // height: 100vh;
}