.work-item-wrapper{
        margin-top:100px;
        display: flex;
        width:100%;
        aspect-ratio: 3 / 1; 
        align-items: center;
        font-family: $font-plex;
        .text{
            width:400px;
            display: flex;
            flex-direction: column;
            font-family: $font-plex;
            text-transform: uppercase;
            height: 100%;
            justify-content: space-between;
            font-weight: 600;
            margin-left: auto; /* Pushes .2 to the right side */
            text-align: right; 
            margin-right:20px;

            .heading{
                font-size: 40px;
            }
            .desc{
                width: 200px;
                margin-left: auto; 
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 100;
            }
        }
        .desc{
            width: 400px;
            margin-left: auto; 
            text-transform: uppercase;
            font-size: 12px;
        }


        .image{
            object-fit:cover;
            overflow: hidden;
            width: 100%;
            height: 100%;;
        }

}